.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 10rem;
  

}
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;}

    li{
        list-style: none;
    }

.navbarLogo{
    height:40px
}